.button {
  padding: 1.5em 3em;
  font-size: 1.5em;
  margin: 1em auto;
  border-radius: 8px;
  display: block;
  width: fit-content;
}

#start-button {
padding: 1.5em 6em;
}

#title {
margin-bottom: 2em;
}

