.navbar {
    background-color: black;
    padding: 1.5em;
}

.navbar-brand {
    font-size: x-large;
    color: white;
    width: 8em;
    text-align: center;
}

.navbar-section {
    align-items: center;
}