<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:,">

  <!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

  <!-- Common CSS for all pages -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">

  <title>Rhythm Rhythm</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="navbar-section">
        <a class="navbar-brand bold" href="/">Rhythm Rhythm</a>
      </div>
      <div class="navbar-section">
        <a class="navbar-brand" href="/game">Play Game</a>
      </div>
      <div class="navbar-section">
        <a class="navbar-brand" href="/quiz">Quiz</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <div>
    {% block content %}
    {% endblock %}
  </div>

</body>

</html>